page-details {
    .imageBackground .toolbar-background {
        background-color: transparent;
        padding:0px;
        
    }
    .imageBackground {
        height: 110px;
        background: 50%;
    }
}
